# Introduction to Python

**Structure of the notebook for session 1**

* 1 General concepts
 * 1.1 Simple Calculations
 * 1.2 Getting help
 * 1.3 The print function
 * 1.4 Comments
* 2 Key concepts
 * 2.1 Variables
 * 2.2 Expressions and operators
  * 2.2.1 Arithmetic operators
  * 2.2.2 Comparison (aka relational) operators
 * 2.3 Logic operators
* 3 Data types
 * 3.1 Numbers 
 * 3.2 Strings
 * 3.3 Boolean
* 4 Data structures
  * 4.1 Lists
  * 4.2 Tuples
  * 4.3 Dictionaries
* 5 Resources

---------------------------------

# 1. General concepts
## 1.1 Simple calculations

In [1]:
1+3

4

In [2]:
5+2

7

## 1.2 Getting help

In [ ]:
help(round)

## 1.3 Print function

The print function allows you to print values on the screen.

It's one of many functions Python comes with (more to follow in the next session)

Two strings can be concatenated â€“ or combined -  together in one string by adding them together with __+__

In [5]:
print ("Hello, world")

Hello, world

####  _Exercise 1_
* Type your name using the print function

In [6]:
print ('solihin rezali')

solihin rezali

When running multiple lines of codes at once only _printed_ statements and the last variables are given as output.

See example of this below.

In [7]:
"One"
print("Two")
"Three"

Two

'Three'

#### _Exercise 2_

* Edit the code above to print all three numbers as output

In [9]:
print('one',
      'two',
      'three')

one two three

## 1.4 Comments
Code after a __#__ symbol doesn't run (does not get executed).

In [10]:
print("This runs") 
# print("this does not run")
# this is for beginner learn

This runs

# 2. Key concepts
## 2.1 Variables
* Variables are how values are stored in a Python program
* Each variable has a unique name
* A variable can support multiple data types
  * i.e. it can hold a string, a number or a date (more detail below)
* You assign a value using the __=__ operator
* Variables in Python are _strongly, dynamically typed_
  * The data type of a variable does not magically change
  * A string will not become a number
  * You are not allowed to do operations that are incompatible with the variable data type
      * An example of this being adding a string with an integer

In [11]:
name = "Abu Ali"
type(name)

str

In [13]:
patient_hr=103.5
type(patient_hr)

float

## 2.2 Expressions and operators
* Python scripts are essentially a collection of variables and operators
* Operators manipulate variables or combine them, forming expressions

```Python
name = "Claire"
```

* The operator is __=__
* The variable is __name__

```Python
kg = 85
grams = kg * 1000
```
* The operators are __=__ and __*__
* The variables are __kg__ and __grams__

###  2.2.1 Arithmetic operators

Arithmetic operators turn your computer into a (very) expensive calculator.



| Operator | Description | Example | Result |
|----------| ----------- | ------- | ------ |
| +  | addition           | 2+2  | 4   | 
| -  | subtraction        | 2-1  | 1   |
| /  | division           | 3/2  | 1.5 |
| // | division (integer) | 3//2 | 1   | 
| *  | multiplication     | 5\*2 | 10  | 
| %  | modulus            | 7%3  | 1   |
| \*\* | exponentiation | 2\*\*2 | 4 |

#### _Exercise 3_

* Create two variable that contains a patient's systolic and diastolic blood pressure. Assume the patient sistolic blood pressure is 120 and diastolic blood pressure is 80.
* In a third variable called _systemic_bp_ store the calculate systemic blood pressure (systolic - diastolic blood pressure)
* Print out the systemic blood pressure

In [14]:
sys_bp = 120
dias_bp = 80
systemic_bp = sys_bp - dias_bp
print(systemic_bp)

40

#### _Exercise 4_
- Check your understanding
- What values do height and age have each statement in the following program? 
```
age = 82
height = 91
age = age - 20
height = height * 2
print(age, height)
```
- Test your answers by executing the commands.

In [15]:
age = 82
height = 91
age = age - 20
height = height * 2
print(age, height)

62 182

#### __Exercise 5__
* Read the code example and error message below and solve the issue by converting the number to a string with the str() function

In [16]:
"PeterRabbit" + 1000

TypeError: can only concatenate str (not "int") to str

In [18]:
"PeterRabbit" + " is a rabbit"

'PeterRabbit is a rabbit'

### 2.2.2 Comparison (aka relational) operators

* Comparison operators compare two values and decide the relation among them
* They return _true_ if a condition is met and _false_ if its not

| Operator | Description | Example | Result |
|----------| ----------- | ------- | ------ |
| == | true if values are equal     | 2==2  | true  | 
| != | true if values are not equal | 2!=1  | true  |
| >  | greater than                 | 100>2 | true  |
| <  | less than                    | 2<-1  | false | 
| >= | greater than or equal        | 5>=5  | true  | 
| <= | less than or equal           | 8<=2  | false  |

#### _Exercise 6_
* Using the variables from exercise 3, check if the patients systolic blood pressure is _less_ than the diastolic blood pressure

In [19]:

sys_bp < dias_bp

False

## 2.3 Logic operators

* Logic operators combine expressions into larger expressions
* They work similarly to comparison operators
* They return _true_ if a condition is met and _false_ if its not

| Operator | Description | Example | Result |
|----------| ----------- | ------- | ------ |
| and | check if both conditions are true      | 2>1 and 3>4 | false  | 
| or  | check if either condition is true | 2 < 3 or 1>8  | true  |
| ^ (xor)| check if *only* one condition is true | 4 < 3 ^ 3 < 2 | false |

#### _Exercise 7_
* Using the blood pressure example in Exercise 3 above, check if a patients systolic blood pressure and diastolic blood pressure are both more than 0

In [20]:
sys_bp > 0 and dias_bp > 0

True

#### _Exercise 8_
* Similarly using the blood pressure variables from above, construct a logical test with the 'or' operator that returns the value False

In [22]:
sys_bp > 120 or dias_bp > 80

False

# 3. Data types

## 3.1 Numbers
* Number data types store numeric values.
* Number objects are created when you assign a value to them.
* Python supports four different numerical data types.

| Name    | Usage |
| --------| -------| 
| int     | signed integer             |
| long    | long integer               |
| float   | floating point real values |
| complex | complex numbers            |

In [23]:
number_one = 123
number_two = 1234567890123456789012345678901234567890
number_three = 3.141516
number_four = 1.5 + 2j

In [24]:
print(
    type(number_one), 
    type(number_two),
    type(number_three),
    type(number_four)
)

<class 'int'> <class 'int'> <class 'float'> <class 'complex'>

In [25]:
print (number_two)

1234567890123456789012345678901234567890

* The functions int(), float(), and str() can be used to convert data types from one form to another (Integer, float and string respectively).

In [27]:
print(float(100))
print(int(2.78))
print(str(1))

100.0
2
1

## 3.2 Strings
* String data types store sequences of characters.
* These must be enclosed in quotes (to distinguish them from variable names).
* You can join multiple string variables with "+"
* The len() function can return the total number of characters in a string.
* Strings also have many other [built-in functions](https://docs.python.org/2/library/stdtypes.html#string-methods) used to manipulate them.

In [28]:
example_string = "Hello, this is an example string. "
another_string = "Hi, nice to meet you! "
last_example   = example_string + another_string
print (last_example)

Hello, this is an example string. Hi, nice to meet you!

In [29]:
example_string.swapcase()

'hELLO, THIS IS AN EXAMPLE STRING. '

* Characters in strings are indexed.
* This means the first string character element is 0, the second one is 1 etc
* You can get the n-th string element by using the [ ] notation.

In [30]:
nhs_number = "123456789"
print (nhs_number)
print (nhs_number[0])
print (nhs_number[2])

123456789
1
3

#### Exercise 9
* What does the following program print out
```
    first, second = 'Hopper', 'Grace'
    third, fourth = second, first
    print(third, fourth)
```
* Test your answers by executing the commands.

#### _Exercise 10_
* Create two variables to store a patients name. 
* One for the first name (Peter) and one for the second name (Smith).
* Create a third variable that contains the full name.
* Count the number of letters in the full name (use len)

In [ ]:
first_name = "Peter"
last_name = 'Smith'

## 3.3 Boolean
* Boolean variables can only be either True or False

In [ ]:
yes = True
no = False
type(yes)

In [ ]:
yes == no

In [ ]:
False == False

In [ ]:
no == no

# 4. Data structures
* There are three core data structures in Python.
  - Lists:
  ```["demographics", "diagnosis", "medication", "appointments"]```
  - Tuples:
  ```("Atorvastine", "Levothyroxine Sodium", "Amlodipine")```
  - Dictionaries:
  ```{"patient_id" : 007, "first_name" : "James", "age" : 29}```
* Each data structure has its advantages and disadvantages and is defined by a different type of brackets __[, (, {__

### 4.1. Lists
* Lists are used to group together multiple values.
* Square brackets [ ] are used to define a list, listing items within.
* List values do not necessarily have to be the same type.
* Elements in lists can be added, removed or changed using list methods

#### List indexes and slicing:
* Elements in lists are indexed - first list element is 0, the second one is 1 etc.
* You can get the nth list element by using the [n] notation.

* You can return a slice/subset of a list by using the colon :
  - [2:3] return the third and fourth element.
  - [4:] returns the fifth to last element.
  - [4:-1] also returns the fifth to the last element.
  - [:] selects all items and is the same as [0:last element]

* Python has many useful _methods_ for lists. Use these to subset or alter your lists.
  * methods are run using the __.__ notation (list.method)
    
|List method|description|
|:------    |:----     |
|list.append(y)| will append value y at the end of the list|
|list.insert(x, y)| will insert value y at location (index) x|
|list.remove(x) | Remove the first item from the list whose value is equal to x|
|list.pop(i)| Remove the item at position i in the list, and return it|
|list.clear()| Remove all items from the list |
|list.count(x)| Return the number of times x appears in the list|
|list.sort()| Sort the items in the list|
|list.revers()|Reverse the elements of the list in place|

In [ ]:
example_list = [ 1.0, 2, 3, "diagnosis", "patient_id", "in_patient", 7, 9 ]
print (example_list)
type(example_list)

In [ ]:
print (example_list[0])

In [ ]:
example_list.append(10)
print (example_list)
example_list.insert(0, 'carcinoma')
print (example_list)
example_list.remove("carcinoma")
print (example_list)
print (example_list.count("patient_id"))

#### _Exercise 11_

A student information system is used to keep track of student records. Each student record might consist of the following information:
  - Student ID (immutable)
  - Name
  - Age
  - Grades (a list of course grades)

The following represents some students' grade for subject Language, History, Science, Mathematic respectively. Using a list for Grades:
 - student1_grades = [80, 90, 92, 88]
 - student2_grades = [65, 82, 79, 85]
 - student3_grades = [60, 72, 69  66]
* Print the original grade for student 1.
* Change the grade for student 1 for History to 95.
* Print the modified grade for student 1.

### 4.2 Tuples
* A tuple is an immutable sequence. 
* It is like a list, except it cannot be changed. 
* Tuples are defined with round brackets.

In [ ]:
patientIDs = ("ID02153694", "ID02153695", "ID02153696") # Patient ids should not change
rs546213 = ("AT", "AA", "GC", "GG") # Results from a genetic analysis of SNP rs546213

In [ ]:
# Print the second element from the patientIDs
# Determine the data structure of the patient IDs

In [ ]:
print (patientIDs[1])
type(patientIDs)

#### _Exercise 12_

Based on the Exercise 11, tuples can be used to store student information (matric, name, age, and grade:
- student1_info = (101, â€œChin Wai Hong", 20, [80, 90, 92, 88])
- student2_info = (102, â€œMuthu A/L Samy", 19, [65, 82, 79, 85])

* Print the original student information for student 1.
* Change the grade for student 1 for History to 95.
* Print the modified student information for student 1.

In [37]:
# Print the original student information

student1_info = (101, "Chin Wai Hong", 20, [80, 90, 92, 88])
student2_info = (102, "Muthu A/L Samy", 19, [65, 82, 79, 85])
print("Original information of student1:", student1_info)

Original information of student1: (101, 'Chin Wai Hong', 20, [80, 90, 92, 88])

In [ ]:
# Change the grade for student 1 for History to 95

In [ ]:
# Print the modified student information for student 1

### 4.3 Dictionaries
* Lists and tuples are great - but sometimes hard to use to organize things
* Python provides another data structure to organize values, the _dictionary_
* Dictionaries store data in pairs, key:value
* Dictionaries are defined by curly brackets __{}__

* Additional dictionary methods include

|Method|Description|
|--|--|
|dict.clear()|Remove all items|
|dict.copy()|Returns a shallow copy of a dictionary|
|dict.get(x)|Returns value from key x|
|dict.items()|Returns view of the dictionary's key:value pairs|

* Dictionaries are mutable but the key part of the (key:value) pair must be of an immutable data type 
* All keys in a dictionary are unique - very helpful
* Values can be anything ! i.e. strings, lists, numbers, etc.

In [ ]:
example_dictionary = { 
    "0101010Q0" : "Magnesium Hydroxide", 
    "0101010R0" : "Simeticone", 
    "0103020P0" : "Pirenzepine", 
    "0101010S0" : "Calcium Carbonate & Simeticone"} 

example_dictionary

In [ ]:
print(type(example_dictionary))

* In a list we used a number to look up an element.
* In a dictionary you can retrieve a value from a dictionary using the key

In [ ]:
print (example_dictionary["0101010R0"])

* Equally, if you try and retrieve a key that does not exist, you will receive an error

In [ ]:
print (example_dictionary["does not exist"])

* add and overwrite data

In [ ]:
example_dictionary["0105010A0"] = "Aminosalicylic Acid"
example_dictionary

* Remove elements from the dictionary using the _del_ command

In [ ]:
# Delete the last entry which is wrong

# 5. Resources

* [Python official documentation](https://docs.python.org/3/)
* [Python wiki guide for befinners](https://wiki.python.org/moin/BeginnersGuide/NonProgrammers)
* [Stack overflow](https://stackoverflow.com/)
* [Pandas quick start guide](http://pandas.pydata.org/pandas-docs/stable/10min.html)